<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Selenium1Demo">

	<listeners>
		<listener class-name="com.selenium1Demo.utilities.Reporting" />
	</listeners>


	<test name=" Test">
		<classes>
			<class name="com.selenium1Demo.testCases.TC_LoginTest_001" />
			<class name="com.selenium1Demo.testCases.TC_LoginDDT_002" />
            <class name ="com.selenium1Demo.testCases.TC_LoginTest_001"/>
            <class name ="com.selenium1Demo.testCases.TC_AddCustommer_03"/>
		</classes>

	</test>

</suite>